#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.quote-container {
  width: 60rem;
  margin-top: 4rem;
}

.quote-text {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}
